.news-container {
  background-image: url(/images/news_cover.png);
  display: block;
  height: 374pt;
  position: relative;
  margin-left: 10pt;
  margin-right: 10pt;
}
.news-container .main-title {
  font-family: "Arial Bold", "Arial";
  font-weight: 900;
  font-size: 48pt;
  text-align: center;
  width: 374pt;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: block;
  margin: auto;
}
.news-wrapper {
  position: relative;
  top: 46pt;
}
.news-image {
  height: 135pt;
}
.news-image::before {
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}
.news-body {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.55);
  height: 202pt;
  display: block;
  background-color: white;
  margin-top: 10pt;
  text-decoration: none ! important;
}
.news-body .news-title {
  font-family: "Arial Bold", "Arial";
  font-size: 12pt;
  margin: 5pt;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  text-align: center;
}
.news-body .news-descr {
  font-family: "Arial Bold", "Arial";
  font-size: 12pt;
  font-weight: bold;
  padding: 3pt;
  text-align: center;
  color: #afafaf;
}
.news-body:hover .news-image::before {
  display: none;
}
.news-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.more-news {
  margin-bottom: 80pt;
}
.load-more-news {
  width: 100%;
  margin: auto;
  margin-top: 20pt;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7941d;
  cursor: pointer;
}
.load-more-news p {
  color: white;
  font-family: "Arial Bold", "Arial";
  font-size: 12pt;
  font-weight: bold;
  padding: 3pt;
  text-align: center;
}
.yellow-box {
  display: block;
  position: absolute;
  top: 50%;
  right: 24%;
  background-color: #f7941d;
  width: 35pt;
  height: 40pt;
}
