.event {
  margin-top: 10px;
}
.event .event-img {
  border-radius: 100%;
  border: 1px solid black;
  display: block;
  text-decoration: none;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-position: center;
  -moz-background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-position: center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-position: center;
  -o-background-repeat: no-repeat;
  -o-background-size: cover;
}
.event .event-descr {
  min-height: 100px;
}
.default-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-position: center;
  -moz-background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-position: center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-position: center;
  -o-background-repeat: no-repeat;
  -o-background-size: cover;
}
